<html>
    <head>
      <title>Gaming</title>
      <link rel="stylesheet" href="/css/core.css" type="text/css">
    </head>
    <body>
        <nav id="main-nav">
          <div id="current-game">SP</div>
          <ul id="sections">
            <li class="section">
              <h2>
                <span>G</span>
                <strong>Geography</strong>
              </h2>
            </li>
            <li class="section">
              <h2>
                <span>P</span>
                <strong>Power</strong>
              </h2>
            </li>
            <li class="section">
              <h2>
                <span>C</span>
                <strong>Characters</strong>
              </h2>
            </li>
          </ul>
        </nav>
        <div id="content">
          <article>
            <header>
              <h1>The City</h1>
            </header>
            <p>Home. The steaming of the tar roofs in the summer heat is the earliest smell you remember. Some say that this was the first city, built by the Angels thousands of years ago, before they left and the world began to rot. You're currently living near the dockyards, east of the scar. The city is home to millions, and you make up a single spec of life in that petri dish. The eastern docks are one of the seedier pieces of the city--home to crooked merchants, thieves, drug runners, and the disgruntled poor.</p>
            <p>The heart of the city lies a few miles inland, across thousands of shacks, warehouses, and stone-walled taverns and shops. The ground slopes increasingly upwards as the city climbs even higher, one and two story buildings giving way to fading towers and eventually to The Ring. Surrounding the houses of nobility is a set of 6 towers, wrought of white marble and bound in rusting steel. Since time immemorial these towers have stood, and the rich of the city built their homes among them.</p>

          </article>
        </div>
    </body>
</html>