@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, body {
  min-height: 100%; }

nav#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #333; }
  nav#main-nav #current-game {
    margin: 50px;
    width: 150px;
    background: #fff;
    text-align: center;
    -webkit-border-radius: 100px;
    font-size: 85px;
    font-family: Cochin;
    font-style: italic;
    font-weight: bold;
    padding: 33px 0;
    line-height: 1;
    color: #333; }
  nav#main-nav #sections {
    list-style: none;
    border-bottom: 1px solid #111;
    float: left; }
    nav#main-nav #sections li {
      float: left;
      width: 230px;
      padding: 10px;
      border-top: 1px solid #111; }
      nav#main-nav #sections li.section-expanded h2 {
        color: #dfdfdf; }
        nav#main-nav #sections li.section-expanded h2 span {
          background: #dfdfdf; }
      nav#main-nav #sections li.section-expanded .sub-sections {
        display: block; }
      nav#main-nav #sections li .sub-sections {
        display: none;
        float: left;
        width: 205px;
        list-style-type: circle !important;
        color: #363;
        padding-left: 35px;
        border-bottom: none; }
        nav#main-nav #sections li .sub-sections li {
          padding: 2px !important;
          border-top: none; }
          nav#main-nav #sections li .sub-sections li a {
            font-family: "Cochin";
            color: #111;
            text-decoration: none;
            font-size: 18px; }
            nav#main-nav #sections li .sub-sections li a.selected {
              color: #dfdfdf;
              font-weight: bold;
              letter-spacing: 2px; }
          nav#main-nav #sections li .sub-sections li::before {
            font-weight: bold;
            content: "⦁ "; }
      nav#main-nav #sections li h2 {
        font-family: "Cochin";
        color: #111; }
        nav#main-nav #sections li h2 span {
          background: #999;
          display: block;
          line-height: 0.8;
          -webkit-border-radius: 10px;
          overflow: hidden;
          color: #333;
          float: left;
          margin: 3px 0;
          width: 25px;
          text-align: center; }
        nav#main-nav #sections li h2 strong {
          display: block;
          float: left;
          margin-left: 10px;
          text-transform: uppercase;
          letter-spacing: 1px; }

#content {
  position: absolute;
  top: 0;
  right: 0;
  left: 250px;
  min-height: 100%;
  background: #dfdfdf; }
  #content article {
    font-family: "Cochin";
    margin: 20px 50px; }
    #content article header {
      padding-bottom: 5px;
      border-bottom: 3px double #555;
      margin-bottom: 20px; }
      #content article header h1 {
        font-size: 70px;
        text-align: center; }
    #content article p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 1em;
      text-align: justify; }
